version: 1
accounts:
  - name: user1
    coins: ["120000000000ulum"]
  - name: user2
    coins: ["100ulum"]
validators:
  - name: user1
    bonded: "100000000ulum"
genesis:
  chain_id: "lumnetwork-testnet"
  app_state:
    crisis:
      constant_fee:
        denom: "ulum"
    mint:
      params:
        mint_denom: "ulum"
    staking:
      params:
        bond_denom: "ulum"
    gov:
      deposit_params:
        min_deposit: [{"amount": "1000000000", "denom": "ulum"}]
    dfract:
      params:
        min_deposit_amount: "1"
        deposit_denom: "ulum"
faucet:
  name: user1
  coins: ["10ulum"]
  coins_max: ["120000000ulum"]
  port: 4500
