version: "3.8"

services:
  juno-local-net:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.juno
    image: juno-gaia
    ports:
      - "26657:26657"
      - "1317:1317"
      - "9090:9090"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:26657" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 20s
    env_file:
      - .env
    command:
      - /bin/sh
      - -c
      - |
        junod tendermint unsafe-reset-all
        rm -rf /home/juno/.juno
        junod keys add genesis_key --keyring-backend test
        echo $JUNO_MNEMONIC | junod keys add relayer_key --keyring-backend test --recover
        junod init genesis_key --chain-id=juno-devnet
        junod add-genesis-account `junod keys show genesis_key -a --keyring-backend test` 1000000000000000ujuno --keyring-backend test
        junod add-genesis-account `junod keys show relayer_key -a --keyring-backend test` 1000000000000000ujuno --keyring-backend test
        junod gentx genesis_key 1000000ujuno --chain-id=juno-devnet --keyring-backend test
        junod collect-gentxs
        sed -i 's/"stake"/"ujuno"/g' /home/juno/.juno/config/genesis.json
        sed -i 's/minimum-gas-prices = ""/minimum-gas-prices = "0.001ujuno"/g' /home/juno/.juno/config/app.toml
        sed -i 's/timeout_propose = "3s"/timeout_propose = "1s"/g' /home/juno/.juno/config/config.toml
        sed -i 's/timeout_propose_delta = "500ms"/timeout_propose_delta = "200ms"/g' /home/juno/.juno/config/config.toml
        sed -i 's/timeout_prevote = "1s"/timeout_prevote = "300ms"/g' /home/juno/.juno/config/config.toml
        sed -i 's/timeout_prevote_delta = "500ms"/timeout_prevote_delta = "200ms"/g' /home/juno/.juno/config/config.toml
        sed -i 's/timeout_precommit = "1s"/timeout_precommit = "300ms"/g' /home/juno/.juno/config/config.toml
        sed -i 's/timeout_precommit_delta = "500ms"/timeout_precommit_delta = "200ms"/g' /home/juno/.juno/config/config.toml
        sed -i 's/timeout_commit = "5s"/timeout_commit = "2s"/g' /home/juno/.juno/config/config.toml
        junod start --rpc.laddr tcp://0.0.0.0:26657

  gaia-local-net:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.gaia
    image: lum-gaia
    ports:
      - "26557:26657"
      - "1307:1317"
      - "9080:9090"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:26657" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 20s
    env_file:
      - .env
    command:
      - /bin/sh
      - -c
      - |
        gaiad tendermint unsafe-reset-all
        rm -rf /home/gaia/.gaia
        gaiad keys add genesis_key --keyring-backend test
        echo $GAIA_MNEMONIC | gaiad keys add relayer_key --keyring-backend test --recover
        gaiad init genesis_key --chain-id=gaia-devnet
        gaiad add-genesis-account `gaiad keys show genesis_key -a --keyring-backend test` 1000000000000000uatom --keyring-backend test
        gaiad add-genesis-account `gaiad keys show relayer_key -a --keyring-backend test` 1000000000000000uatom --keyring-backend test
        gaiad gentx genesis_key 1000000uatom --chain-id=gaia-devnet --keyring-backend test
        gaiad collect-gentxs
        sed -i 's/"stake"/"uatom"/g' /home/gaia/.gaia/config/genesis.json
        sed -i 's/minimum-gas-prices = ""/minimum-gas-prices = "0.001uatom"/g' /home/gaia/.gaia/config/app.toml
        sed -i 's/timeout_propose = "3s"/timeout_propose = "1s"/g' /home/gaia/.gaia/config/config.toml
        sed -i 's/timeout_propose_delta = "500ms"/timeout_propose_delta = "200ms"/g' /home/gaia/.gaia/config/config.toml
        sed -i 's/timeout_prevote = "1s"/timeout_prevote = "300ms"/g' /home/gaia/.gaia/config/config.toml
        sed -i 's/timeout_prevote_delta = "500ms"/timeout_prevote_delta = "200ms"/g' /home/gaia/.gaia/config/config.toml
        sed -i 's/timeout_precommit = "1s"/timeout_precommit = "300ms"/g' /home/gaia/.gaia/config/config.toml
        sed -i 's/timeout_precommit_delta = "500ms"/timeout_precommit_delta = "200ms"/g' /home/gaia/.gaia/config/config.toml
        sed -i 's/timeout_commit = "5s"/timeout_commit = "2s"/g' /home/gaia/.gaia/config/config.toml
        gaiad start --rpc.laddr tcp://0.0.0.0:26657

  osmosis-local-net:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.osmosis
    image: lum-osmosis
    ports:
      - "26457:26657"
      - "1297:1317"
      - "9070:9090"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:26657" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 20s
    env_file:
      - .env
    command:
      - /bin/sh
      - -c
      - |
        osmosisd tendermint unsafe-reset-all
        rm -rf /home/osmosis/.osmosisd
        osmosisd keys add genesis_key --keyring-backend test
        echo $OSMOSIS_MNEMONIC | osmosisd keys add relayer_key --keyring-backend test --recover
        osmosisd init genesis_key --chain-id=osmosis-devnet
        osmosisd add-genesis-account `osmosisd keys show genesis_key -a --keyring-backend test` 1000000000000000uosmo --keyring-backend test
        osmosisd add-genesis-account `osmosisd keys show relayer_key -a --keyring-backend test` 1000000000000000uosmo --keyring-backend test
        osmosisd gentx genesis_key 1000000uosmo --chain-id=osmosis-devnet --keyring-backend test
        osmosisd collect-gentxs
        sed -i 's/"stake"/"uosmo"/g' /home/osmosis/.osmosisd/config/genesis.json
        sed -i 's/minimum-gas-prices = ""/minimum-gas-prices = "0.001uosmo"/g' /home/osmosis/.osmosisd/config/app.toml
        sed -i 's/timeout_propose = "3s"/timeout_propose = "1s"/g' /home/osmosis/.osmosisd/config/config.toml
        sed -i 's/timeout_propose_delta = "500ms"/timeout_propose_delta = "200ms"/g' /home/osmosis/.osmosisd/config/config.toml
        sed -i 's/timeout_prevote = "1s"/timeout_prevote = "300ms"/g' /home/osmosis/.osmosisd/config/config.toml
        sed -i 's/timeout_prevote_delta = "500ms"/timeout_prevote_delta = "200ms"/g' /home/osmosis/.osmosisd/config/config.toml
        sed -i 's/timeout_precommit = "1s"/timeout_precommit = "300ms"/g' /home/osmosis/.osmosisd/config/config.toml
        sed -i 's/timeout_precommit_delta = "500ms"/timeout_precommit_delta = "200ms"/g' /home/osmosis/.osmosisd/config/config.toml
        sed -i 's/timeout_commit = "5s"/timeout_commit = "2s"/g' /home/osmosis/.osmosisd/config/config.toml
        osmosisd start --rpc.laddr tcp://0.0.0.0:26657

  relayer-local-net:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.hermes
    image: lum-relayer
    env_file:
      - .env
    depends_on:
      juno-local-net:
        condition: service_healthy
      osmosis-local-net:
        condition: service_healthy
      gaia-local-net:
        condition: service_healthy
    volumes:
      - ./config/hermes.toml:/home/hermes/config.toml
    restart: always
    command:
      - /bin/sh
      - -c
      - |
        mkdir -p /home/hermes/.hermes
        cp /home/hermes/config.toml /home/hermes/.hermes/config.toml
        echo $GAIA_MNEMONIC > gaia.txt
        hermes keys add --key-name hrly1 --chain gaia-devnet --mnemonic-file gaia.txt --overwrite
        echo $JUNO_MNEMONIC > juno.txt
        hermes keys add --key-name hrly2 --chain juno-devnet --mnemonic-file juno.txt --overwrite
        echo $OSMOSIS_MNEMONIC > osmosis.txt
        hermes keys add --key-name hrly3 --chain osmosis-devnet --mnemonic-file osmosis.txt --overwrite
        hermes start